<% include ../common/header %>
    <div><input type="text" />手机号</div>
    <div><input type="text" />密码</div>
    <div><input type="button" value="密码"/></div>
    <div id="example"></div>
    <script type="text/jsx" src="js/user/signup.js"></script>
<% include ../common/footer %>
