<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} 小圆桌-做最专业的学生咨询</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <base href="/" target="_blank">
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
    </head>
    <body>
        <div class="container J-main-container">
            {{{body}}}
        </div>
        {{> corejs}}
        {{{block pageScripts}}}
    </body>
</html>
